EMAIL="{{ plexupdate_email }}"
PASS="{{ plexupdate_pass }}"
DOWNLOADDIR="{{ plexupdate_downloaddir }}"

PLEXSERVER="{{ plexserver }}"
AUTOUPDATE="{{ autoupdate | bool }}"
AUTOINSTALL="{{ autoinstall | bool }}"
AUTODELETE="{{ autodelete | bool }}"
PUBLIC="{{ public | bool }}"